.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey-100);
  margin-top: 59px;
  padding: 0 16px;
}

.hr {
  width: 100%;
  margin: 30px 0;
  border: solid 1px;
  color: var(--grey-300);
}

.paragrafo {
  text-align: center;
  color: var(--black-700);
  font-size: 10px;
  margin-top: 30px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: var(--black-900);
  margin-bottom: 34px;
}

.rodape {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.alpes {
  color: var(--black-700);
  font-size: 12px;
  margin-right: 10px;
}

.alpes img {
  width: 124px;
  margin-left: 10px;
  margin-bottom: -8px;
}
